<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<form th:action="@{/logout}" method="post">
  <input type="submit" value="logout"/>
</form>
<br>
<br>
<head>
  <meta charset="utf-8" />
  <h2>Add User</h2><title>Add User</title>
</head>
<body>
<form method="POST" th:action="@{/admin/new}" th:object="${user}" >
  <label for="firstname">firstname</label>
  <input type="text" id="firstname" th:field="*{firstName}" required>
  <label for="lastname">lastname</label>
  <input type="text" id="lastname" th:field="*{lastName}" required>
  <label for="password">password</label>
  <input type="text" id="password" th:field="*{password}" required>
  <label for="username">username</label>
  <input type="text" id="username" th:field="*{username}" required>
  <label for="gender">gender</label>
  <input type="text" id="gender" th:field="*{gender}" required>

  <select class="form-control" id="roles" name="roles" multiple="multiple" >
    <option th:each="role : ${listRoles}"
            th:selected="${role.getRoleName()}"
            th:value="${role.getId()}"
            th:text="${role.getRoleName()}">Role name</option>
  </select>
  <input type="submit" value="OK">

</form>
</body>
</html>